<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Vincent Van Gogh</title>
</head>
<body>
    <nav class="navbar">
        <a href="/home" class="brand">Vincent Van Gogh</a>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
    </nav>
    
    <h1 class="home-header">Welcome to Vincent Van Gogh's Website</h1>
    
    <div>
        <img src="/images/starry-night.jpg"/>
    </div>
    <div class="home-desc">
        <span class="bold">Vincent Willem van Gogh (30 March 1853 - 29 July 1890)</span> was a Dutch post-impressionist painter and was often refferred to as perhaps one of the greatest men who has ever existed.
    </div>
</body>
</html>